<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Site_Assessment_C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1635DCE52148012A008D743B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1635DCF92148012B008D743B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1635DD042148012C008D743B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
